<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Alpha Blog About</title>
</head>
<body>
  <h1>Welcome to the about page</h1>

  <p>This is the RoR about page for my testing and learning</p>

  <%= link_to 'Home', root_path %>
</body>
</html>
